/* SETTINGS */
html {
  scroll-behavior: smooth;
}

/* GLOBAL CLASSES */
body {
  position: relative;
  margin: 0px;
  font-family: 'Open Sans Condensed', sans-serif !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

.body-bg {
  background: rgb(0,0,0);
  background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(235,236,242,1) 0%, rgba(241,244,255,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(235,236,242,1) 0%, rgba(241,244,255,1) 100%);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(235,236,242,1) 0%, rgba(241,244,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#f1f4ff",GradientType=1);
}

.body-fixed {
  position: fixed !important;
  top: 0;
  left: 0;
}

.default-button {
  cursor: pointer;
}

.edit-container {
  border: 3px solid #9c9c9c;
  border-radius: 10px;
}

.border-r {
  border-right: 2px solid #9c9c9c;
}

.border-l {
  border-left: 2px solid #9c9c9c;
}

.b-radius-def {
  border-radius: 5px;
}

.section-heading {
  /*border-bottom: 2px solid #9c9c9c;*/
}

.btn-default {
  border: 3px solid #202020 !important;
  transition: 0.3s;
}

.btn-default:hover {
  border: 3px solid #6d6d6d !important;
  background: #6d6d6d !important;
  color: #e9e9e9 !important;
  transition: 0.3s;
}

.section-img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.section-divider {
  height: 2px !important;
  width: 40%;
  background: #9c9c9c;
  margin-left: 30%;
  margin-right: 30%;
}

.dot-divider{
  width: 6%;
  height: 2px;
  margin-left: 47%;
  margin-right: 47%;

  background: #9c9c9c;
}

.default-button:disabled {
  cursor: default !important;
}

.section-heading {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-top: 1rem !important;
}

.container-admin {
  padding-left: 0.4rem;
  padding-right: 0.4rem;

  margin-left: 0.7rem;
  margin-right: 0.7rem;
}

.paragraph {
  width: 100%
}

.shadow-default {
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
}

/* SLIDER */
.range-slider-l {
  width: 100%; /* Width of the outside container */
}

.range-slider-m {
  margin-left: 15%;
  width: 70%; /* Width of the outside container */
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  /*background: #d3d3d3;*/
  background: rgb(0,0,0);

  background: rgb(0,0,0);
  background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);

  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  /*background: #4CAF50;*/
  border: 2px solid #dceaf2;
  background: rgb(0,0,0);
  background: -moz-radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(42,96,209,1) 0%, rgba(5,61,142,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(42,96,209,1) 0%, rgba(5,61,142,1) 100%);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(42,96,209,1) 0%, rgba(5,61,142,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#053d8e",GradientType=1);

  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  /*background: #4CAF50;*/
  border: 2px solid #dceaf2;
  background: rgb(0,0,0);
  background: -moz-radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(42,96,209,1) 0%, rgba(5,61,142,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(42,96,209,1) 0%, rgba(5,61,142,1) 100%);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(42,96,209,1) 0%, rgba(5,61,142,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#053d8e",GradientType=1);

  cursor: pointer;
}
/* ====== */
.d-none-admin {
  display: none !important;
}

.txt-l {
  text-align: left;
}

.txt-c {
  text-align: center;
}

.txt-r {
  text-align: right;
}

.abs-l {
  left: 5%;
}

.abs-c {
  left: 50%;
  transform: translateX(-50%);
}

.abs-r {
  right: 5%;
}

.p-info {
  font-size: 90%;
}

#document-wrapper {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.op-0 {
  opacity: 0;
}

.fadeIn {
  transition: 0.3s;
  opacity: 1;
}

.fadeOut {
  transition: 0.3s;
  opacity: 0;
}

.fadeInWrapper {
  transition: 0.5s;
  opacity: 0;
}



.modal-sm {
  width: 25%;
}

.modal-m {
  width: 50%;
}

.modal-l {
  width: 70%;
}

.section-img {
  height: initial;
  max-width: 50%;
  max-height: 50vh;
  display: block !important;
  padding-right: 2rem;
  margin-top: 1rem;
  /*
  display: flex;
  flex-direction: row;
  justify-content: center;
  */
}


.section-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  
}

.section-img-l {
  float: left;
}

.section-img-c {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  /*text-align: center !important;*/
  /*margin-left: 50% !important;*/
}

.section-img-r {
  float: right;
}

/* HOME GLOBAL */
#scroll-to-top {
  position: fixed;
  font-size: 36px;
  background: #212529;
  -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
  color: #fff;
  top: 90%;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.3s;
  padding-bottom: 3px;
  z-index: 10;
  transform: translateX(-50%);
  /*opacity: 0;*/
  /*display: none;*/
}

#scroll-to-top div {
  position: relative;
  width: 100%;
  height: 100%;
}

#scroll-to-top:hover {
  cursor: pointer;
  background: #3a4147;
}

#scroll-to-top a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 24px;
  text-decoration: none;
  color: rgb(216, 216, 216);
  transform: rotate(-90deg);
}
/* NAVBAR */
#navbar-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 15;
}

#navbar-desk {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  z-index: 15;
  height: 50px;
  background: #212529 !important;
}

.navbar-menu-item {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 20px;
  font-weight: 700;
  padding-top: 10px;
}
.navbar-menu-item a {
  /*color: #212529 !important;*/
  color: #e9e9e9 !important;
  transition: 0.2s;
}
.navbar-menu-item a:hover {
  /*color: #212529 !important;*/
  /*color: #e9e9e9 !important;*/
  text-shadow: 0px -1px 6px rgba(255, 255, 255, 0.5);
  transition: 0.2s;
}

#navbar-mobile {
  position: relative;
  z-index: inherit;
  height: 50px;
  background: #212529 !important;
}
#navbar-toggler {
  font-size: 40px;
  z-index: 60 !important;
}

#navbar-toggler:hover {
  cursor: pointer;
}

#navbar-toggler:hover .nav-hamb-line{
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(255,255,255,0.5);
  -moz-box-shadow: 0px 2px 5px 0px rgba(255,255,255,0.5);
  box-shadow: 0px 2px 5px 0px rgba(255,255,255,0.5);
  transition: 0.2s;
}


.nav-hamb-line {
  width: 40px;
  height: 4px;
  background: #e9e9e9 !important;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 6px;
  transition: 0.2s;
}

#navbar-mobile-dropdown .navbar-menu-item{
  position: relative;
  background: #212529 !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  
}

#navbar-mobile-dropdown {
  z-index: inherit;
  position: relative;
  height: initial;
  /*background: #212529 !important;*/
  padding-bottom: 15px;
  overflow: hidden !important;
}

.nav-closed {
  height: 0px !important;
  
  /*display: none;*/
  /*transition: 0.5s;*/
}

.nav-open {
  height: initial;
  /*display: block;*/
  transition: 0.5s;
}

.navbar-brand {
  order: -1;
  /*font-size: 3em;*/
  position: absolute;
  top: 0;
  left: 1rem;
}

.navbar-lang {
  /*font-size: 3em;*/
  position: absolute;
  top: 0;
  right: 1rem;
}

.navbar-brand:hover {
  cursor: pointer;
}

.navbar-menu-item:hover {
  cursor: pointer;
}

/* TITLE SECTION */
#bg-div {
  position: relative;
  overflow: hidden !important;
}


#master-heading,
#master-introduction {
  position: relative;
  z-index: 1;
}

#bg-div-overlay,
.slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  /*background: #000;*/
  /*opacity: 0.5;*/
}



/* CAROUSEL */
.carousel-div {
  padding-top: 1rem;
  position: relative;
  height: 70vh;
  
}
.carousel-slide {
  margin-bottom: 1rem;
}

.slide-heading {
  font-weight: 700;
}

.slide-button {
  min-width: 100px;
  transition: 0.3s;
}

.slide-button:hover {
  filter: brightness(125%);
  transition: 0.3s;
}

.slide-button a {
  font-weight: 700 !important;
}


/*
.carousel-control-abs {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}*/
/*
#slides-container {
  position: relative;
  overflow: hidden !important;
}
*/
.overflow-wrapper {
  position: relative;
  overflow: hidden !important;
}

.slide-div-home {
  position: relative;
  display: inline-block;
  /*height: 70vh;*/
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.carousel-control {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.carousel-nav {
  width: 3rem;
  height: 0.4rem;
  background: #9c9c9c;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 10%;
  transition: 0.3s;

  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}



.carousel-nav:hover {
  cursor: pointer;
  background: #c0c0c0;
  transition: 0.3s;
}

.arrow-left,
.arrow-right {
  position: absolute;
  font-size: 150%;
  background: #8c8ba1;
  
  height: 50px;
  border-radius: 1px;
  transition: 0.3s;
  /*padding-bottom: 3px;*/
  z-index: 2;
  -webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.75);
}


.arrow-left {
  top: 50%;
  left: 0rem;
  width: 8px;
  transform: translateY(-50%);
}


.arrow-right {
  top: 50%;
  right: 0rem;
  width: 8px;
  transform: translateY(-50%);
}

.arrow-left:hover,
.arrow-right:hover {
  cursor: pointer;
  background: #bebdcf;
  transition: 0.3s;
}
/*
.slide-left-to-right {
  transition: 1s;
  left: 0 !important;
}
*/

.slide-left-to-right{
  animation: animation-left-to-right ease-out 4s;
  animation-iteration-count: 0;
  transform-origin: 0% 0%;
  -webkit-animation: animation-left-to-right ease-out 4s;
  -webkit-animation-iteration-count: 0;
  -webkit-transform-origin: 0% 0%;
  -moz-animation: animation-left-to-right ease-out 4s;
  -moz-animation-iteration-count: 0;
  -moz-transform-origin: 0% 0%;
  -o-animation: animation-left-to-right ease-out 4s;
  -o-animation-iteration-count: 0;
  -o-transform-origin: 0% 0%;
  -ms-animation: animation-left-to-right ease-out 4s;
  -ms-animation-iteration-count: 0;
  -ms-transform-origin: 0% 0%;
}

@keyframes animation-left-to-right{
  0% {
    transform:  translate(-100px,-1px)  ;
  }
  100% {
    transform:  translate(0px,-1px)  ;
  }
}

@-moz-keyframes animation-left-to-right{
  0% {
    -moz-transform:  translate(-100px,-1px)  ;
  }
  100% {
    -moz-transform:  translate(0px,-1px)  ;
  }
}

@-webkit-keyframes animation-left-to-right {
  0% {
    -webkit-transform:  translate(-100px,-1px)  ;
  }
  100% {
    -webkit-transform:  translate(0px,-1px)  ;
  }
}

@-o-keyframes animation-left-to-right {
  0% {
    -o-transform:  translate(-100px,-1px)  ;
  }
  100% {
    -o-transform:  translate(0px,-1px)  ;
  }
}

@-ms-keyframes animation-left-to-right {
  0% {
    -ms-transform:  translate(-100px,-1px)  ;
  }
  100% {
    -ms-transform:  translate(0px,-1px)  ;
  }
}

/* ABOUT + SAALE */
#about-img {
}
#about-container {
}

/* concerts CONCERTS */
#concerts-container {
}


/* NEWS */
#news-container {
}

/* MEMBERS */
.member-img {
  max-height: 70vh;
}
#members-container {
}

/* MEDIA */
#media-container {
}

#media-images-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.media-img-div {
  max-width: 250px;
  margin-bottom: 1rem;
}

.media-vid-div {
  width: 400px;
  margin-bottom: 1rem;
}

.media-img-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px !important;
}

#img-slider-bg {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  transition: 0.3s;
}

#img-slider-fixed {
  position: fixed;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;
  z-index: 51;
}

#img-slider-content-div {
  position: relative;
  height: 85vh;
  width: 70vw;
  max-width: 70vw;
  margin-top: 0;
  margin-bottom: 5vh;
  margin-left: 15vw;
  margin-right: 15vw;
  z-index: 52;
}

.img-slider-img-div {
  max-height: 70vh;
  max-width: inherit;

}
.img-slider-img {
  max-height: inherit;
  width: 100%;
  object-fit: contain;
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*object-position: center;*/
}

#img-slider-info {
  color: rgb(226, 220, 220);
  opacity: 0.8;
  /*object-position: center;*/
}

#img-slider-author {
  float: right;
}

#img-slider-controls-top {
  color: #dfdfdf;
}

#img-slider-controls-top a{
  color: #dfdfdf;
  display: inline-block;
  font-size: 30px;
}
#img-slider-controls-top a:hover {
  color: #f0efef;
  cursor: pointer;
}

#img-arrow-left,
#img-arrow-right {
  position: absolute;
  font-size: 150%;
  color: #e0e0e0;
  width: 30px;
  height: 30px;
  transition: 0.3s;
  padding-bottom: 3px;
  z-index: 51;
}

#img-arrow-left {
  top: 50%;
  left: 4vw;
  transform: translateY(-50%);
}

#img-arrow-right {
  top: 50%;
  right: 4vw;
  transform: translateY(-50%);
}

#img-arrow-left:hover,
#img-arrow-right:hover {
  cursor: pointer;
  color: #f7f7f7;
  transition: 0.3s;
}
/*
.fadeInBgDark {
  opacity: 0.9;
  transition: 0.3s;
}
*/

.toggle-sound {
  height: 40px;
  width: 40px;
  background: #cadde6;
  border-radius: 50%;
  position: relative;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  transition: 0.2s;
}

.toggle-sound:hover {
  cursor: pointer;
  background: #e2f1f8;
  transition: 0.2s;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
}
.toggle-sound:hover .play-symb,
.toggle-sound:hover .pause-symb {
  color: #858d8f;
  transition: 0.2s;
}

.play-symb {
  position: absolute;
  color: #54595a;
  font-size: 25px;
  z-index: 1;
  top: 50%;
  left: 25%;
  /*width: 100%;*/
  /*height: 100%;*/
  padding: 0px;
  /*transform: translateX(-50%);*/
  transform: translateY(-50%);
  transition: 0.2s;
}
.pause-symb {
  transform: rotate(90deg);
  position: absolute;
  color: #54595a;
  font-size: 25px;
  z-index: 1;
  top: 6%;
  left: 25%;
  /*width: 100%;*/
  /*height: 100%;*/
  padding: 0px;
  /*transform: translateX(-50%);*/
  /*transform: translateY(-50%);*/
  transition: 0.2s;
}

.playbar-parent {
  position: relative;
}

.playbar {
  position: relative;
  width: 100%;
  height: 25%;
  background: #cadde6;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  transition: 0.2s;
}
.playbar-parent:hover .playbar{
  cursor: pointer;
  background: #d0e6f0;
  transition: 0.2s;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
}

.song-position {
  position: absolute;
  background: #8f9ca1;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 3;
}

/* CALENDAR */
#calendar-container {
  background: #ffbae9;
}

/* FOOTER */
.footer-div {
  background: #212529;
  color: #e9e9e9;
  /*
  background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(118,139,186,1) 0%, rgba(79,79,79,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(118,139,186,1) 0%, rgba(79,79,79,1) 100%);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(118,139,186,1) 0%, rgba(79,79,79,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#4f4f4f",GradientType=1);
  */
  -webkit-box-shadow: 0px -1px 11px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -1px 11px 0px rgba(0,0,0,0.75);
  box-shadow: 0px -1px 11px 0px rgba(0,0,0,0.75);
}
/* CONTACTS */
#contacts-container {
  background: #baf1ff;
}








/* ADMIN ABOUT */
#about-img-preview,
#new-about-img-preview,
#saale-img-preview {
  object-fit: contain;
  height: 20rem;
  border-radius: 5px;
  max-width: 95vw;
}

.radio-label:hover,
.radio:hover {
  cursor: pointer;
}




#hide-global-section:hover,
#hide-about-section:hover,
#hide-section:hover,
#hide-section-item:hover,
#hide-label:hover,
.hide-label:hover{
  cursor: pointer;
}



#modal-img-container,
#new-modal-img-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 80vh;
  overflow: scroll;
}


/* ADMIN IMAGES */
#admin-images-container,
#admin-videos-container,
#media-videos-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#edit-image-modal .modal-container,
#edit-video-modal .modal-container {
  max-height: 80vh;
  overflow: scroll;
}

#modal-img-container div,
#new-modal-img-container div {
  position: relative;
  max-width: 200px;
  margin: 1rem;
  border-radius: 10px;
  opacity: 1;
  transition: 0.3s;
  padding: 8px;
  background: #fff;
  transition: 0.4s;
}
.selected-bg {
  background: #4360df !important;
  transition: 0.4s;
}


.media-img-div img,
#modal-img-container div img,
#new-modal-img-container div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}



#modal-img-container a,
#new-modal-img-container a {
  cursor: pointer;
}

/*
#modal-img-container .img-overlay {
  position: absolute;
  top: -16px;
  left: -16px;
  width: 100%;
  height: 100%;
  z-index: 15;
  border-radius: 10px;
  background: #2a5afa;
  opacity: 0.5;
  transition: 0.3s;
}
*/


.modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
}

/*
body > #edit-image-modal {
  background: #000;
  opacity: 0.5;
}
*/


.modal .modal-container {
  position: fixed;
  top: 10%;
  left: 50%;
  height: initial;
  background: #fff !important;
  border-radius: 10px;
  z-index: 10;
  /*opacity: 0;*/
  -webkit-box-shadow: 0px 4px 15px 1px rgba(0,0,0,0.38);
  -moz-box-shadow: 0px 4px 15px 1px rgba(0,0,0,0.38);
  box-shadow: 0px 4px 15px 1px rgba(0,0,0,0.38);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: 0.3s;
}

.modal-closed {
  display: none;
}



.close-modal {
  position: relative;
}

.close-modal div {
  position: absolute;
  top: 15px;
  right: 15px;
  width: initial;
  height: initial;
  z-index: 11;
}

.close-modal div a:hover{
  cursor: pointer;
  opacity: 0.7;
}

#modal-img-div {
  max-width: 25%;
  margin-bottom: 1rem;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

#modal-img-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#img-toggle-label:hover,
#img-toggle:hover {
  cursor: pointer;
}

/* ADMIN CONCERTS, NEWS */
/*#edit-concert-modal .modal-container,*/

/*#edit-article-modal .modal-container*/ 
.edit-section-modal .modal-container {
  max-height: 80vh;
  overflow: scroll;
}

.edit-section-modal textarea
 {
  width: 100%
}

/*.article-pre-div,
.news-pre-divs-table*/ 
.section-pre-div,
.section-pre-divs-table {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-weight: 700;
}


.test-border {
  border: 1px solid #000;
}

/*.section-pre-div .item1,
.section-pre-divs-table .item1,*/
.section-pre-div .item1,
.section-pre-divs-table .item1 {
  grid-area: 1 / 1 / 2 / 2;
  /*display: none;*/
}

/*.concert-pre-div .item2,
.concert-pre-divs-table .item2,*/
.section-pre-div .item2,
.section-pre-divs-table .item2{
  grid-area: 1 / 2 / 2 / 3;
  display: none;
}

/*.concert-pre-div .item3,
.concert-pre-divs-table .item3,*/
.section-pre-div .item3,
.section-pre-divs-table .item3 {
  /*grid-area: 1 / 3 / 2 / 4;*/
  display: none;
}

/*.concert-pre-div .item4,
.concert-pre-divs-table .item4,*/
.section-pre-div .item4,
.section-pre-divs-table .item4 {
  /*grid-area: 1 / 4 / 2 / 5;*/
  display: none;
}

.section-pre-parent {
  border: 2px solid #326da8;
}


/* ADMIN MEMBERS */
.section-pre-div #img-preview {
  max-height: 200px;
}

.checkbox-label:hover,
.hover-pointer {
  cursor: pointer
}

/* ADMIN MEDIA */
#add-video-btn:disabled {
  cursor: default !important;
}

/* ADMIN HEADER */
/* Chrome, Safari, Edge, Opera */
.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {

  -webkit-appearance: none;
  margin: 0;

}

/* Firefox */
.number-input[type=number] {
  -moz-appearance: textfield;
}

.title-preview-parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}

#header-overlay-preview {
  position: relative;
  width: inherit;
  max-width: 96vw !important;
  overflow: hidden;
  /*margin-left: -200% !important;*/
  /*margin-right: -200% !important;*/
}

#text-container-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 96vw !important;
  z-index: 10;
}

#bg-height-preview {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 96vw !important;
  z-index: 11;
  
}

#header-overlay-preview #about-img-preview {
  object-fit: cover !important;
  object-position: 50% 50% !important;
}

.slide-container {
  /*
  display: flex;
  flex-direction: row;
  justify-content: center;
  */
  /*position: relative;*/
  /*overflow: hidden;*/
  text-align: center !important;
}

.slide-div {
  position: relative;
  display: inline-block;
  height: 50vh;
  width: 70%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*
.current-slide {
  display: block !important;
}
*/
.current-nav {
  transition: 0.3s;
  background: #c0c0c0;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}

.slide-parent-abs {
  position: absolute;
  height: 70vh;
  width: 100%;
  top: 0;
  left: 0;
  /*display: none;*/
}

.slide-content {
  /*position: relative;*/
  bottom: 10%;
  position: absolute;
  z-index: 11;
  color: #fff;
}

.slide-content-div {
  /*display: flex;*/
  /*flex-direction: column;*/
  position: relative;
}






/* ANIMATIONS */
/* for img slider bg */
.fade-in-img-slider-bg {
  animation: fadeInOp09 linear 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  /*transform-origin: 50% 50%;*/
  -webkit-animation: fadeInOp09 linear 0.3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  /*-webkit-transform-origin: 50% 50%;*/
  -moz-animation: fadeInOp09 linear 0.3s;
  -moz-animation-iteration-count: 1;
  -moz-animation-fill-mode: forwards;
  /*-moz-transform-origin: 50% 50%;*/
  -o-animation: fadeInOp09 linear 0.3s;
  -o-animation-iteration-count: 1;
  -o-animation-fill-mode: forwards;
  /*-o-transform-origin: 50% 50%;*/
  -ms-animation: fadeInOp09 linear 0.3s;
  -ms-animation-iteration-count: 1;
  -ms-animation-fill-mode: forwards;
  /*-ms-transform-origin: 50% 50%;*/
}

@keyframes fadeInOp09{
  0% {
    opacity:0;
  }
  100% {
    opacity:0.9;
  }
}

@-moz-keyframes fadeInOp09{
  0% {
    opacity:0;
  }
  100% {
    opacity:0.9;
  }
}

@-webkit-keyframes fadeInOp09 {
  0% {
    opacity:0;
  }
  100% {
    opacity:0.9;
  }
}

@-o-keyframes fadeInOp09 {
  0% {
    opacity:0;
  }
  100% {
    opacity:0.9;
  }
}

@-ms-keyframes fadeInOp09 {
  0% {
    opacity:0;
  }
  100% {
    opacity:0.9;
  }
}

/* for img slider content */
.fade-in-img-slider-content {
  animation: fadeInOp1 linear 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  /*transform-origin: 50% 50%;*/
  -webkit-animation: fadeInOp1 linear 0.3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  /*-webkit-transform-origin: 50% 50%;*/
  -moz-animation: fadeInOp1 linear 0.3s;
  -moz-animation-iteration-count: 1;
  -moz-animation-fill-mode: forwards;
  /*-moz-transform-origin: 50% 50%;*/
  -o-animation: fadeInOp1 linear 0.3s;
  -o-animation-iteration-count: 1;
  -o-animation-fill-mode: forwards;
  /*-o-transform-origin: 50% 50%;*/
  -ms-animation: fadeInOp1 linear 0.3s;
  -ms-animation-iteration-count: 1;
  -ms-animation-fill-mode: forwards;
  /*-ms-transform-origin: 50% 50%;*/
}

@keyframes fadeInOp1{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeInOp1{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeInOp1 {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeInOp1 {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeInOp1 {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

/* for img sliders (fade out) */
.fade-out {
  animation: fadeOut linear 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  /*transform-origin: 50% 50%;*/
  -webkit-animation: fadeOut linear 0.3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  /*-webkit-transform-origin: 50% 50%;*/
  -moz-animation: fadeOut linear 0.3s;
  -moz-animation-iteration-count: 1;
  -moz-animation-fill-mode: forwards;
  /*-moz-transform-origin: 50% 50%;*/
  -o-animation: fadeOut linear 0.3s;
  -o-animation-iteration-count: 1;
  -o-animation-fill-mode: forwards;
  /*-o-transform-origin: 50% 50%;*/
  -ms-animation: fadeOut linear 0.3s;
  -ms-animation-iteration-count: 1;
  -ms-animation-fill-mode: forwards;
  /*-ms-transform-origin: 50% 50%;*/
}

@keyframes fadeOut{
  0% {
    opacity: initial;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut{
  0% {
    opacity: initial;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: initial;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: initial;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: initial;
  }
  100% {
    opacity:0;
  }
}

.open-nav {
  animation: openNav linear 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  /*transform-origin: 50% 50%;*/
  -webkit-animation: openNav linear 0.3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  /*-webkit-transform-origin: 50% 50%;*/
  -moz-animation: openNav linear 0.3s;
  -moz-animation-iteration-count: 1;
  -moz-animation-fill-mode: forwards;
  /*-moz-transform-origin: 50% 50%;*/
  -o-animation: openNav linear 0.3s;
  -o-animation-iteration-count: 1;
  -o-animation-fill-mode: forwards;
  /*-o-transform-origin: 50% 50%;*/
  -ms-animation: openNav linear 0.3s;
  -ms-animation-iteration-count: 1;
  -ms-animation-fill-mode: forwards;
  /*-ms-transform-origin: 50% 50%;*/
}

@keyframes openNav{
  0% {
    height: 0vh;
  }
  100% {
    height: 100vh;
  }
}

@-moz-keyframes openNav{
  0% {
    height: 0vh;
  }
  100% {
    height: 100vh;
  }
}

@-webkit-keyframes openNav {
  0% {
    height: 0vh;
  }
  100% {
    height: 100vh;
  }
}

@-o-keyframes openNav {
  0% {
    height: 0vh;
  }
  100% {
    height: 100vh;
  }
}

@-ms-keyframes openNav {
  0% {
    height: 0vh;
  }
  100% {
    height: 100vh;
  }
}

.close-nav {
  animation: closeNav linear 0.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  /*transform-origin: 50% 50%;*/
  -webkit-animation: closeNav linear 0.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  /*-webkit-transform-origin: 50% 50%;*/
  -moz-animation: closeNav linear 0.2s;
  -moz-animation-iteration-count: 1;
  -moz-animation-fill-mode: forwards;
  /*-moz-transform-origin: 50% 50%;*/
  -o-animation: closeNav linear 0.2s;
  -o-animation-iteration-count: 1;
  -o-animation-fill-mode: forwards;
  /*-o-transform-origin: 50% 50%;*/
  -ms-animation: closeNav linear 0.2s;
  -ms-animation-iteration-count: 1;
  -ms-animation-fill-mode: forwards;
  /*-ms-transform-origin: 50% 50%;*/
}

@keyframes closeNav{
  0% {
    height: 100vh;
  }
  100% {
    height: 0vh;
  }
}

@-moz-keyframes closeNav{
  0% {
    height: 100vh;
  }
  100% {
    height: 0vh;
  }
}

@-webkit-keyframes closeNav {
  0% {
    height: 100vh;
  }
  100% {
    height: 0vh;
  }
}

@-o-keyframes closeNav {
  0% {
    height: 100vh;
  }
  100% {
    height: 0vh;
  }
}

@-ms-keyframes closeNav {
  0% {
    height: 100vh;
  }
  100% {
    height: 0vh;
  }
}

.hide-nav {
  animation: hideNav linear 0.1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  /*transform-origin: 50% 50%;*/
  -webkit-animation: hideNav linear 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  /*-webkit-transform-origin: 50% 50%;*/
  -moz-animation: hideNav linear 0.1s;
  -moz-animation-iteration-count: 1;
  -moz-animation-fill-mode: forwards;
  /*-moz-transform-origin: 50% 50%;*/
  -o-animation: hideNav linear 0.1s;
  -o-animation-iteration-count: 1;
  -o-animation-fill-mode: forwards;
  /*-o-transform-origin: 50% 50%;*/
  -ms-animation: hideNav linear 0.1s;
  -ms-animation-iteration-count: 1;
  -ms-animation-fill-mode: forwards;
  /*-ms-transform-origin: 50% 50%;*/
}

@keyframes hideNav{
  0% {
    top: 0;
  }
  100% {
    top: -50px;
  }
}

@-moz-keyframes hideNav{
  0% {
    top: 0;
  }
  100% {
    top: -50px;
  }
}

@-webkit-keyframes hideNav {
  0% {
    top: 0;
  }
  100% {
    top: -50px;
  }
}

@-o-keyframes hideNav {
  0% {
    top: 0;
  }
  100% {
    top: -50px;
  }
}

@-ms-keyframes hideNav {
  0% {
    top: 0;
  }
  100% {
    top: -50px;
  }
}

.show-nav {
  animation: showNav linear 0.1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  /*transform-origin: 50% 50%;*/
  -webkit-animation: showNav linear 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  /*-webkit-transform-origin: 50% 50%;*/
  -moz-animation: showNav linear 0.1s;
  -moz-animation-iteration-count: 1;
  -moz-animation-fill-mode: forwards;
  /*-moz-transform-origin: 50% 50%;*/
  -o-animation: showNav linear 0.1s;
  -o-animation-iteration-count: 1;
  -o-animation-fill-mode: forwards;
  /*-o-transform-origin: 50% 50%;*/
  -ms-animation: showNav linear 0.1s;
  -ms-animation-iteration-count: 1;
  -ms-animation-fill-mode: forwards;
  /*-ms-transform-origin: 50% 50%;*/
}

@keyframes showNav{
  0% {
    top: -50px;
  }
  100% {
    top: 0;
  }
}

@-moz-keyframes showNav{
  0% {
    top: -50px;
  }
  100% {
    top: 0;
  }
}

@-webkit-keyframes hideNav {
  0% {
    top: -50px;
  }
  100% {
    top: 0;
  }
}

@-o-keyframes showNav {
  0% {
    top: -50px;
  }
  100% {
    top: 0;
  }
}

@-ms-keyframes showNav {
  0% {
    top: -50px;
  }
  100% {
    top: 0;
  }
}



/* MEDIA BREAKPOINTS */

/* max */
@media (max-width: 576px) { 
  #master-heading {
    font-size: 15vw !important;
  }
  #master-introduction {
    font-size: 6vw !important;
  }
}

@media (min-width: 420px) {
  .section-pre-div,
  .section-pre-divs-table {
    grid-template-columns: repeat(2, 1fr);
  }
  .section-pre-div .item2,
  .section-pre-divs-table .item2 {
    grid-area: 1 / 2 / 2 / 3;
    display: inline-flex;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .arrow-left {
    left: -1.5rem;
    width: 7px;
  }
  .arrow-right {
    right: -1.5rem;
    width: 7px;
  }
  .container-admin {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .section-pre-div,
  .section-pre-divs-table {
    grid-template-columns: repeat(3, 1fr);
  }
  .section-pre-div .item3,
  .section-pre-divs-table .item3 {
    grid-area: 1 / 3 / 2 / 4;
    display: inline-flex;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .container-admin {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .section-pre-div,
  .section-pre-divs-table {
    grid-template-columns: repeat(4, 1fr);
  }
  .section-pre-div .item4,
  .section-pre-divs-table .item4 {
    grid-area: 1 / 4 / 2 / 5;
    display: inline-flex;
  }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
  .container-admin {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  
    margin-left: 3rem;
    margin-right: 3rem;
  }
 }

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
  .container-admin {
    padding-left: 1rem;
    padding-right: 1rem;
  
    margin-left: 4rem;
    margin-right: 4rem;
  }
 }

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
  .container-admin {
    padding-left: 1rem;
    padding-right: 1rem;
  
    margin-left: 5rem;
    margin-right: 5rem;
  }
 }