<%- include('../partials/adminHeader') %>
<%- include('../partials/adminNav') %>
  

  <div id="main-container" class="container">
    <div class="txt-c">
      <h1>Karussell</h1>
    </div>
    
  </div>
  


<%- include('../partials/adminFooter') %>