<%- include('../partials/adminHeader') %>
<%- include('../partials/adminNav') %>
  
 
  <div id="main-container" class="container-admin">
    <div class="txt-c">
      <h1>Floridante admin keskkond</h1>
    </div>
    
  </div>
  


<%- include('../partials/adminFooter') %>