<% const removeHrefPrefix = (str) => { %>
  <% if (str.includes('-heading')) { %>
    <% str = str.replace('-heading', '') %>
  <% } else if (str.includes('-container')) { %>
    <% str = str.replace('-container', '') %>
  <% } %>
  <% return str.trim() %>
<% } %>

<div id="document-wrapper"></div>

<%# //////////// NAVBAR //////////// %>

  <%# NAVBAR L+ %>
  
  <div id="navbar-toggle" class="txt-c">
    <div class="admin-navbar-toggle-icon">
      <a>
        <div class="navbar-toggle-line"></div>
        <div class="navbar-toggle-line"></div>
        <div class="navbar-toggle-line"></div>
      </a> 
    </div>
  </div>
  <div class="admin-navbar-panel-parent navbar-panel-closed">
    <div id="admin-navbar-panel-left">
      <%# console.log(menu) %>
      <div class="admin-navbar-menu-item"><a href="/admin">Avaleht</a></div>
      <% for (let menuItem of global.adminMenu) { %>
        <div class="admin-navbar-menu-item"><a href="/admin/<%= menuItem.href %>"><%= menuItem.title %></a></div>
      <% } %>
    </div>
  </div>